@import 'mail-side-nav.css';
@import 'mail-index.css';
@import 'mail-preview.css';
@import 'mail-details.css';
@import 'mail-compose.css';
.mail-main-container {
    display: flex;
    flex-grow: 1;
    min-height: 100%;
    margin-bottom: 2rem;
}

@media (min-width: 920px) {
    .mail-main-container {
        margin-bottom: 0;
    }
}