.hero-text {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-family: Manjari-Regular;
  color: #f0eeee;
  letter-spacing: 0.2rem;
  animation: moveInRight 1s ease-in-out;
}

.hero-img {
  animation: rotate 3s alternate infinite ease-in-out 1s,
    moveInLeft 1s ease-in-out;
}

.hero-img svg {
  width: 17rem;
  height: 17rem;
}

.hero-container {
  /* padding-top: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* align-items: center; */
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.see-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 8.75rem;
  height: 3rem;
  font-family: Lato-Regular, sans-serif;
  background-color: #f2c16b;
  border-radius: 30px;
  margin-top: 1rem;
  animation: moveInTop 1s ease-in-out;
  cursor: pointer;
  color: #292929;
}

.see-more-btn:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.see-more-btn:active {
  transform: translateY(-1px);
  transition: transform 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.dot {
  color: #f2c16b;
  font-size: 6.3125rem;
}

@keyframes moveInRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes moveInTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15deg);
  }
}

@media (min-width: 780px) {
  .hero-text {
    font-size: 3rem;
  }

  .see-more-btn {
    font-size: 1.2rem;
    width: 10rem;
    height: 2.75rem;
  }

  .hero-img svg {
    width: 18rem;
    height: 18rem;
  }
}

@media (min-width: 920px) {
  .hero-text {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .hero-img svg {
    width: 22rem;
    height: 22rem;
  }
  .see-more-btn {
    font-size: 1.2rem;
    width: 10rem;
    height: 2.75rem;
    margin-top: 1rem;
  }
  .dot {
    font-size: 4rem;
  }
  .hero-container {
    padding-top: 3rem;
    flex-direction: row;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

@media (min-width: 1050px) {
  .hero-text {
    font-size: 2rem;
  }
  .see-more-btn {
    font-size: 1.2rem;
    width: 10rem;
    height: 2.75rem;
    margin-top: 1rem;
  }

  .dot {
    font-size: 4rem;
  }
  /* .hero-container {
        padding-top: 0;
    } */
}

@media (min-width: 1250px) {
  .hero-text {
    font-size: 3rem;
  }

  .hero-img svg {
    width: 24rem;
    height: 24rem;
  }

  .see-more-btn {
    font-size: 1.2rem;
    width: 12.75rem;
    height: 2.75rem;
    margin-top: 1rem;
  }
  .dot {
    font-size: 4rem;
  }
}

@media (min-width: 1460px) {
  /* .hero-text {
        font-size: 3rem;
    }
    .see-more-btn {
        font-size: 1.2rem;
        width: 12.75rem;
        height: 2.75rem;
        margin-top: 1rem;
    }
    .dot {
        font-size: 4rem;
    } */
}

@media (min-width: 1550px) {
  .hero-text {
    font-size: 3.6125rem;
    margin-top: 0;
  }

  .hero-img svg {
    width: 30rem;
    height: 30rem;
  }
  .see-more-btn {
    font-size: 1.2rem;
    width: 12.75rem;
    height: 2.75rem;
    margin-top: 1rem;
  }
  .hero-container {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1700px) {
  .hero-text {
    font-size: 4.3125rem;
    font-family: Manjari-Regular;
    color: #f0eeee;
    letter-spacing: 0.2rem;
    animation: moveInRight 1s ease-in-out;
  }
  .hero-img {
    animation: rotate 3s alternate infinite ease-in-out 1s,
      moveInLeft 1s ease-in-out;
  }
  .hero-img path {
    width: 30rem;
  }
  .hero-container {
    padding-top: 5rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .see-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 14.75rem;
    height: 2.75rem;
    font-family: Lato-Regular, sans-serif;
    background-color: #f2c16b;
    border-radius: 30px;
    margin-top: 3rem;
    animation: moveInTop 1s ease-in-out;
    cursor: pointer;
    color: #292929;
  }
  .see-more-btn:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
  }
  .see-more-btn:active {
    transform: translateY(-1px);
    transition: transform 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
  .dot {
    color: #f2c16b;
    font-size: 6.3125rem;
  }
}
