* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Lato-Regular, Sans-serif;
}

body {
    background-color: #f0eeee;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}