.note-input {
  width: 20rem;
  height: 2.375rem;
  border-radius: 16px;
  outline: none;
  border: none;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
  color: #292929;
  padding-inline-start: 1rem;
  padding-inline-end: 9.3rem;
  font-size: 0.93rem;
}

.note-filter {
  display: flex;
  flex-direction: column;
  margin: 2.125rem 0 3rem 0;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.note-filter i {
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.3s;
}

.note-filter i:hover {
  color: #f2c16b;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container i {
  color: gray;
  position: absolute;
  font-size: 1.2rem;
}

.input-container .images-icon {
  right: 40px;
}

.input-container .check-box {
  right: 80px;
}

.input-container .text-icon {
  right: 113px;
}
.input-container .video-icon {
  right: 0;
}

.search-note {
  font-size: 1.4rem;
  color: #292929;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  height: 2rem;
  font-size: 0.8rem;
}

.active-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2c16b;
  height: 2rem;
  border-radius: 7px;
  padding: 0 5px;
  color: #292929;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.filter-by-btn {
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.filter-by-btn:hover {
  color: #8f8f8f;
}

@media screen and (min-width: 353px) {
  .note-input {
    width: 22rem;
    height: 2.375rem;
  }
}

@media screen and (min-width: 460px) {
  .note-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width: 700px) {
  .note-input {
    padding-inline-start: 2.19rem;
    width: 35.187rem;
    height: 2.875rem;
    font-size: 1.6rem;
  }
  .search-note {
    font-size: 1.3rem;
  }

  .note-filter {
    display: flex;

    margin: 3.125rem 0 3.375rem 0;
    justify-content: center;
    align-items: center;
  }

  .note-filter i {
    cursor: pointer;
    font-size: 2.5rem;
    transition: color 0.3s;
  }

  .input-container i {
    color: gray;
    position: absolute;
    font-size: 1.1rem;
  }
  .input-container .images-icon {
    right: 45px;
  }

  .input-container .check-box {
    right: 92px;
  }

  .input-container .text-icon {
    right: 130px;
  }
  .input-container .video-icon {
    right: 0;
  }
}
