.note-preview {
  position: relative;
  background-color: #f3f3f3;
  border: 0.5px solid rgb(224, 224, 224);
  width: 15rem;
  min-height: 6.25rem;
  border-radius: 10px;
  padding-inline-start: 1rem;
  padding-block-end: 2.8rem;
  padding-top: 1rem;
  margin-bottom: 1rem;

  overflow-wrap: break-word;
  break-inside: avoid-column;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px;

  transition: box-shadow 0.3s;
  transform: translateZ(0);
  transition: transform 0.3s;
}

.edit-mode {
  z-index: 1;
  width: 20rem;
  height: 23rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out;
}

.note-preview h1 {
  margin-bottom: 20px;
}

.note-img {
  /* max-width: 13rem; */
  width: 94%;
}

.todo-container {
  position: relative;
}

.check-box {
  position: absolute;
  cursor: pointer;
  right: 0;
  font-size: 1rem;
}

.todo-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.todo-container p.active {
  text-decoration: line-through;
}

.note-preview:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.note-preview:hover .note-action-btn i {
  opacity: 0.6;
}

/* Actions Btns */

.note-actions {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-action-btn {
  cursor: pointer;
}

.note-action-btn i {
  opacity: 0;
  transition: opacity 0.3s;
}

.note-preview:hover .note-action-btn i:hover {
  opacity: 1;
}

.note-colors {
  position: absolute;
  bottom: 25px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 6px;
}

.note-colors.hidden {
  opacity: 0;
  pointer-events: none;
}

.note-colors.shown {
  opacity: 1;
  pointer-events: auto;
}

.color {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #292929;
}

.red {
  background-color: rgb(223, 94, 94);
}

.green {
  background-color: rgb(137, 235, 137);
}

.blue {
  background-color: rgb(123, 225, 238);
}

.white {
  background-color: #f0eeee;
}

.purple {
  background-color: rgb(250, 129, 230);
}

/* Note Edit */

.note-edit {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.note-edit input {
  outline: none;
  padding: 10px;
  color: #292929;
  border-radius: 10px;
  border: none;
  height: 2rem;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}

.note-edit .save-btn {
  font-size: 2rem;
}

.note-edit i:hover {
  color: #292929;
  opacity: 1;
}

.note-edit-input-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.note-edit i {
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.6;

  transition: opacity 0.3s;
}
