.note-input {
  width: 35.187rem;
  height: 2.875rem;
  border-radius: 16px;
  outline: none;
  border: none;

  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
  font-size: 2.187rem;
  color: #292929;
  padding-inline-start: 2.19rem;
}

.note-filter {
  display: flex;
  margin: 3.125rem 0 4.375rem 0;
  justify-content: center;
}
