.note-preview {
  background-color: #f3f3f3;
  border: 0.5px solid rgb(224, 224, 224);
  width: 15rem;
  min-height: 6.25rem;
  border-radius: 10px;
  padding-inline-start: 1rem;
  padding-block-end: 2.8rem;
  padding-top: 1rem;
  margin-bottom: 1rem;

  overflow-wrap: break-word;
  break-inside: avoid-column;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px;
}

.note-preview h1 {
  margin-bottom: 20px;
}

.note-img {
  max-width: 13rem;
}

.todo-container {
  position: relative;
}

.check-box {
  position: absolute;
  cursor: pointer;
  right: 0;
  font-size: 1rem;
}

.todo-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.todo-container p.active {
  text-decoration: line-through;
}
